.logo{
	padding-left:30px;
}
.formtop{
	background: rgba(255, 255, 255, 0.9);
	padding: 0px 10px;
	padding-bottom: 5px;
	border-radius: 5px;
	color: #2e3192;
	font-size: 15pt;
}
.formtop input, .filter input{
	width: 90%;
	margin-left: 5px;
	padding: 0 5px;
	margin: 5px 0px 0px 5px;
	font-size: 11pt;
	background: transparent;
	outline: none;
	border: 0;
	border-left: solid 1px #5a5db1;
}
.navbar h5 a{
	color: #2e3192;
	margin-left: 20px;
}

.loginform{
	background-image: url('../img/loginbg.png');
	background-repeat: no-repeat;
	background-size: 400px;
	background-color: #fbdb2b;
	color: #2e3192;
	padding:0px 10px 20px 10px;
}
.loginform i{
	line-height: 2.5;
}
.loginform input{
	padding: 10px;
	border :0;
	border-radius: 5px;
	outline: none;
	width: 100%;
}
.loginbtn{
	background: url('../img/loginbtn.png');
	background-size: cover;
	color: #fff;
	width: 100%;
	border:0;
	outline: none;
	border-radius: 5px;
	font-size: 16pt;
	font-family: 'Avenir Black';
	padding: 8px;
}
.header{
	max-height: 360px;
	margin: 20px 0px;
}
.banner{
	min-height: 360px;
	background-color: #e1e1e1;
}
.banner-2{
	min-height: 360px;
	background-color: #e1e1e1;
}
.homebox-rec{
	width: 57.142857%;
	float: left;
}
.homebox-rec h5, .homebox-hot h5, .homebox-reqful h5, .hot-leasing h5{
	color: #808080;
}
.homebox-hot{
	width: 42.857142%;
	float: left;
}
.rec-top{
	background-color: #999ebf;
	min-height: 160px;
}
.rec-bottom{
	background-color: #f2f2f2;
	min-height: 40px;
}
.hot-top{
	background-color: #91bedc;
	min-height: 160px;
}
.hot-bottom{
	background-color: #f2f2f2;
	min-height: 40px;
}

.homebox-reqful{
	width: 100%;
}
.filter{
	width: 28.571428%;
	float: left;
	padding: 15px 10px;
}
.filter .formtop{
	margin: 20px 0px;
}
.hot-leasing{
	width: 71.428571%;
	float: left;
	padding: 15px 10px;
}

@media (min-width: 769px) {
	.box-3{
		width: 33.333333%;
		float: left;
		padding: 10px;
	}
	.box-4{
		width: 25%;
		float: left;
		padding: 10px;
	}
	.box-7{
		width: 14.285714%;
		float: left;
		padding: 10px;
	}
	.box-5{
		width: 20%;
		float: left;
		padding: 10px;
	}
}
@media (max-width: 768px) {
	.box-3sm{
		width: 33.333333%;
		float: left;
		padding: 10px;
	}
}